body{
    font-family: AlienSpace, Graphik-Regular-Web, sans-serif;
}
h1{
    font-family: AlienSpace-Outline, Graphik-Regular-Web, sans-serif;
    color: white;
}
div.game{
    width: 100%;
    position: relative;
}
div.game img{
    border-style: none;
    display: block;
    max-width: 100%;
}
div.game a{
    font-weight: 400;
    text-decoration: none;
}
div.game ul{
    margin: 0;
    padding: 0;
}
div.game ul li{
    list-style-type: none;
}
div.game li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
div.game_background-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background: #151c22;
    overflow: hidden;
}
div.game_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    opacity: 0.4;
    transform: scale(1.05);
    filter: blur(10px);
}
div.game_background video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top center;
}

div.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 132rem;
    margin: 0 auto;
    grid-gap: 60px;
    align-items: center;
    padding: 0 2.4rem;
}
div.outer-game_box{
    justify-self: end;
    transform: translateY(3%);
}
div.game_box{
    display: grid;
    transition: all .5s ease;
    max-width: 650px;
}
div.game_box a{
    position: relative;
}
.game_box-cover {
    box-shadow: 0 5px 5px -5px rgba(1, 19, 53, .2), 0 10px 10px -5px rgba(1, 19, 53, .2), 0 20px 20px -5px rgba(1, 19, 53, .2), 0 40px 40px -5px rgba(1, 19, 53, .2);
    border-radius: .5rem;
    align-self: end;
    width: 100%;
    transition: all .5s ease;
}
.game_box-logo {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 66.66%;
    transition: all .5s ease;
}
div.game_box:hover{
    transform: scale(1.02);
}
div.game_box:hover a{
    outline-width: 0;
}
div.game_box:hover .game_box-cover{
    box-shadow: 0 5px 5px -15px rgba(1,19,53,.2),0 10px 10px -15px rgba(1,19,53,.2),0 20px 20px -15px rgba(1,19,53,.2),0 40px 40px -15px rgba(1,19,53,.2),0 50px 50px -20px rgba(1,19,53,.2),0 70px 70px -25px rgba(1,19,53,.2)
}
div.game_box:hover .game_box-logo{
    transform: translate(-50%, 5%) scale(1.05);
}

div.game_description{
    margin-right: 25px;
    max-width: 512px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    z-index: 2;
    position: relative;
}
div.game_description a{
    color: #fff;
    transition: all .3s ease;
}
div.game_description a:hover{
    color: darkorange;
}
div.game_description-text{
    opacity: 1;
    transform: translateY(0rem);
    margin-bottom: 1.6rem;
}
div.game_description-text p{
    font-family: Graphik-Regular-Web, sans-serif;
    color: #d1d6d9;
}
div.game_description-links{
    display: flex;
    opacity: 1;
    transform: translateY(0rem);
    margin-top: 1.6rem;
    width: 100%;
    line-height: 2;
    align-items: center;
    margin-left: 2%;
}
.game_description-links-actions{
    width: 50%;
    list-style-type: none;
}
.game_description-links-actions a{
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
}
.game_description-links-socials{
    width: 50%;
    list-style-type: none;
}

div.gameplay_video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    padding-top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
.fade-out {
    animation-name: fade-out;
    animation-duration: 2s;
}
@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
