
            /* overwrites for every p */
            body{
                background-color: burlywood;
                margin: 0%;
                font-family: 'Aniron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            a{
                
            }
            p {
                text-align: center;
                color: #111111;
            }
            img{
                display: block;
            }
            h1, h2, h3, h4, h5, h6{
                text-align: center; color: darkred;
            }
            div.container {
                display: flex;
            }
            div{
                box-sizing: border-box;
            }
            .center{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .navigation{
                display: flex;
                margin: 2%;
                justify-content: space-evenly;
            }