
            /* overwrites for every p */
            body{
                background-color: burlywood;
                margin: 0%;
                font-family: 'Aniron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            a.nav{
                margin-left: 1%;
                margin-right: 1%;
            }
            p{
                color: #111111;
                margin-left: 2%;
                margin-right: 2%;
            }
            img{
                
            }
            h1, h2, h3, h4, h5, h6{
                color: darkred;
                margin-left: 1%;
            }
            h1{
                font-size: xxx-large;
            }
            div.container {
                display: flex;
            }
            div{
                box-sizing: border-box;
            }
            div.header{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .center{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            nav.navigation{
                display: flex;
                margin: 2%;
                justify-content: center;
            }